# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# Compiled output
/node_modules
/.angular
/Course-section-2-3/.angular
/Course-section-2-3/node_modules
/Course-section-4/.angular
/Course-section-4/node_modules
/Course-section-5/.angular
/Course-section-5/node_modules
/Course-section-6/.angular
/Course-section-6/node_modules
/Course-section-6-lifecycle/.angular
/Course-section-6-lifecycle/node_modules
/Course-section-6-two-way-binding/.angular
/Course-section-6-two-way-binding/node_modules
/Course-section-7/.angular
/Course-section-7/node_modules
/Course-section-8/.angular
/Course-section-8/node_modules
/Course-section-9/.angular
/Course-section-9/node_modules 
/Course-section-10/.angular
/Course-section-10/node_modules
/Course-section-11/.angular
/Course-section-11/node_modules
/Course-section-12/.angular
/Course-section-12/node_modules
/Course-section-13/.angular
/Course-section-13/node_modules
/Course-section-14/.angular
/Course-section-14/node_modules
/Course-section-15/.angular
/Course-section-15/node_modules
/Course-section-16/.angular
/Course-section-16/node_modules
/Course-section-17/.angular
/Course-section-17/node_modules
/Course-section-18/.angular
/Course-section-18/node_modules
/Course-section-19/.angular
/Course-section-19/node_modules
/Course-section-20/.angular
/Course-section-20/node_modules
/Course-section-21/.angular
/Course-section-21/node_modules
/Course-section-22/.angular
/Course-section-22/node_modules
/Course-section-23/.angular
/Course-section-23/node_modules
/Course-section-24/.angular
/Course-section-24/node_modules
/Course-section-25/.angular
/Course-section-25/node_modules
/Course-section-26/.angular
/Course-section-26/node_modules
/Course-section-27/.angular
/Course-section-27/node_modules
/Course-section-28/.angular
/Course-section-28/node_modules
/Course-section-29/.angular
/Course-section-29/node_modules
/Course-section-30/.angular
/Course-section-30/node_modules
/Course-section-31/.angular
/Course-section-31/node_modules
/Course-section-32/.angular
/Course-section-32/node_modules
/Course-section-33/.angular
/Course-section-33/node_modules
/Course-section-34/.angular
/Course-section-34/node_modules
/Course-section-35/.angular
/Course-section-35/node_modules
/Course-section-36/.angular
/Course-section-36/node_modules
/Course-section-37/.angular
/Course-section-37/node_modules
/Course-section-38/.angular
/Course-section-38/node_modules
/Course-section-39/.angular
/Course-section-39/node_modules
/Course-section-40/.angular
/Course-section-40/node_modules
/Course-section-41/.angular
/Course-section-41/node_modules
/Course-section-42/.angular
/Course-section-42/node_modules
/Course-section-43/.angular
/Course-section-43/node_modules
/Course-section-44/.angular
/Course-section-44/node_modules
/Course-section-45/.angular
/Course-section-45/node_modules
/Course-section-46/.angular
/Course-section-46/node_modules